@import 'scss/breakpoints.scss';
@import 'scss/button.scss';
@import 'scss/colors.scss';
@import 'scss/focus.scss';
@import 'scss/spacings.scss';

$btn-width-small: 34px;

.calendar {
  h2 {
    font-family: 'LilGrotesk', sans-serif;
    color: $blue;
  }

  button {
    @extend %btn;

    background: $blue !important;
    border-color: $blue !important;
    color: white !important;

    &.fc-next-button,
    &.fc-prev-button {
      @include mq($until: mobile) {
        width: $btn-width-small;
      }
    }

    &:focus {
      @include focus($orange, 2pt, 1.5pt, true);
    }
  }

  div > div > div > div:last-of-type > button:not(:first-child) {
    margin-left: 2px !important;
  }

  a > div {
    display: flex;
    align-items: center;
    padding: 0 6px !important;
  }

  a div {
    font-size: 15px !important;
    white-space: pre-wrap !important;

    &::after {
      display: none;
    }
  }

  > div > div > div > table {
    background: white;
    border-radius: 15px 0px 0px;
    font-size: 16px !important;
  }
}
