@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colors.scss';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  padding: 0 $wrapper-padding-x-mobile $wrapper-padding-y-mobile;

  @include mq($from: tablet) {
    padding: $wrapper-padding-y-desktop-small $wrapper-padding-x-desktop
      $wrapper-padding-y-desktop-large;
  }

  .intro {
    width: 100%;
    max-width: $content-max-width;
    margin-bottom: size(3);
    text-align: center;

    .title {
      margin-bottom: size(3);

      @include mq($from: tablet) {
        margin-bottom: size(5);
      }
    }
  }

  .section {
    margin-bottom: size(5);

    .step {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: size(1);

      .sectionImage {
        margin-left: size(8);
      }

      &.row-reverse {
        flex-direction: row-reverse;

        .sectionImage {
          margin-right: size(8);
          margin-left: 0px;
        }
      }
    }

    .sectionImage {
      height: size(25);
      width: size(25);
    }

    .continue {
      width: calc(#{$content-max-width} / 2);
    }
  }
}
