@import 'scss/breakpoints.scss';

.bold {
  font-weight: bold;
}

.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  font-family: 'LilGrotesk', 'Poppins', sans-serif;
  margin: 0;
}

.heading1 {
  font-size: 2.5rem;

  @include mq($from: tablet) {
    font-size: 4rem;
  }
}

.heading2 {
  font-size: 2rem;

  @include mq($from: tablet) {
    font-size: 3rem;
  }
}

.heading3 {
  font-size: 2rem;

  @include mq($from: tablet) {
    font-size: 2.5rem;
  }
}

.heading4 {
  font-size: 1.5rem;

  @include mq($from: tablet) {
    font-size: 2rem;
  }
}

.heading5 {
  font-size: 1.5rem;
}

.heading6 {
  font-size: 1.125rem;
}

.body1 {
  font-size: 2rem;

  @include mq($from: tablet) {
    font-size: 2.5rem;
  }
}

.body2 {
  font-size: 2rem;
}

.body3 {
  font-size: 1.5rem;
}

.body4 {
  font-size: 1.25rem;
}

.body5 {
  font-size: 1rem;
}

.body6 {
  font-size: 0.875rem;
}
