@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/constants.scss';
@import 'scss/focus.scss';
@import 'scss/form.scss';
@import 'scss/spacings.scss';

.container {
  margin-bottom: size(6);

  .title {
    margin-bottom: size(1);
  }

  .displayName {
    margin-bottom: size(2);
  }
}

.addInterests {
  background: white;
  border-radius: $card-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: size(2);
  padding: size(2);
  width: $content-max-width;
  white-space: pre-line;

  @include mq($from: tablet) {
    padding: size(5);
  }

  .interestsHeading {
    color: $blue;
    margin-bottom: size(2);
  }

  .description {
    margin-bottom: size(1);
  }

  .instruction {
    margin-bottom: size(4);
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: size(2);

    .interest {
      margin-bottom: size(2);
    }
  }
}

.interests {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: size(1);

  .label {
    margin-right: size(2);
  }

  .noInterests {
    @include mq($until: tablet) {
      flex: 1;
    }
  }

  .edit {
    height: size(4);

    @include mq($from: tablet) {
      margin-left: size(2);
      margin-top: 0;
    }
  }
}

.interest {
  border-radius: 15px;
  border: 1px solid $light-grey;
  background: $light-grey;
  display: inline-flex;
  align-items: center;
  color: $dark-grey;
  cursor: pointer;
  padding: 0 size(2);
  height: size(4);
  line-height: 1;
  text-transform: capitalize;

  &:hover {
    @include focus($orange);
  }

  &:focus {
    @include focus($orange);
  }

  &.selected {
    border: 1px solid $dark-blue;
    color: $dark-blue;
  }

  .delete {
    margin-left: size(1);
    width: size(2);
  }

  &:not(:last-child) {
    margin-right: size(1);
  }
}
