@import '../../../../scss/colours.scss';
@import '../../../../scss/spacings.scss';

.languageSelector {
  display: flex;
  justify-content: space-between;
  margin-left: size(3);
  padding: 0 size(2);
  border-right: solid 1px gainsboro;
  border-left: solid 1px gainsboro;

  .languageBtn {
    border: none;
    color: #d8d7d7cf;
    cursor: pointer;
    font-size: 14px;

    &:disabled {
      cursor: not-allowed;
      color: $blue;
      background: white;
    }
  }
}
