@import 'scss/breakpoints.scss';
@import 'scss/colours.scss';
@import 'scss/spacings.scss';

.languageSelector {
  display: flex;
  justify-content: space-between;
  margin-left: size(1.5);
  padding: 0 0 0 size(1.5);
  border-left: solid 1px gainsboro;

  @include mq($from: tablet) {
    border-right: solid 1px gainsboro;
    margin-left: size(3);
    padding: 0 size(2);
  }

  .languageBtn {
    border: none;
    color: #d8d7d7cf;
    cursor: pointer;
    font-size: 14px;

    &:disabled {
      cursor: not-allowed;
      color: $blue;
      background: white;
    }
  }
}
