@import 'scss/form.scss';
@import 'scss/spacings.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: size(4) 0px;

  .title,
  .description {
    margin-bottom: size(3);
    width: 100%;
    max-width: $form-width;
  }
}
