@import '../../scss/breakpoints.scss';
@import '../../scss/constants.scss';
@import '../../scss/colours.scss';
@import '../../scss/spacings.scss';

$items: 4;
$transition-delay: 0.05s;

.menuBtn {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  color: $blue;
  font-weight: bold;
  text-transform: uppercase;

  @include mq($from: tablet) {
    display: none;
  }
}

a {
  text-decoration: none;
}

/* Toggle Button */

.buttonToggle {
  position: absolute;
  display: inline-block;
  width: size(2);
  height: size(2);
  margin: 12px 24px 24px 0px;
  background-color: transparent;
  border-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: $menu-transition-duration + 0.1s;

  // Shadow on Hover
  &:hover {
    box-shadow: 0 2px 0 size(1) rgba(0, 0, 0, 0.1),
      inset 0 0 0 size(1) rgba(0, 0, 0, 0.1);
  }

  &.isOpen {
    &:before {
      transform: translateY(-50%) rotate(45deg) scale(1);
    }

    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(1);
    }

    &:hover {
      box-shadow: 0 0px 0 size(1) rgba(0, 0, 0, 0.1),
        inset 0 0 0 size(1) rgba(0, 0, 0, 0.1);
    }
  }

  // Making the 'X' icon using `:before` and `:after` pseudo-elements
  // Initially hidden beause of `scale(0)` transformation

  &:before,
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ec7263;
    border-radius: 5px;
    transition: $menu-transition-duration;
  }

  &:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }

  &:after {
    transform: translateY(50%) rotate(-45deg) scale(0);
  }
}

/* Menu */

.nav {
  position: absolute;
  display: inline-block;
  padding: 12px size(3) 12px 0px; //25px 25px 20px;
  pointer-events: none;
  transition: $menu-transition-duration;

  &.isOpen {
    padding: size(3) 0px;
    pointer-events: auto;
    transform: translate(0px, calc(#{$header-height} - #{$wrapper-padding-y}));
    width: calc(100vw - #{$wrapper-padding-x});

    @include mq($from: tablet) {
      display: flex;

      .navItem {
        margin-right: size(3);
      }
    }

    // Restoring nav items from 'lines' in the menu icon
    .navItem {
      color: #ec7263;
      letter-spacing: 0;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1);
      transition: $menu-transition-duration, opacity 0.1s;

      // Setting delays for the nav items in open transition
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          $delay: ($items - $i) * $transition-delay;
          transition-delay: $delay;
          &:before {
            transition-delay: $delay;
          }
        }
      }

      // Hide the lines
      &:before {
        opacity: 0;
        transition: $menu-transition-duration;
      }
    }
  }
}

// Showing nav items as lines, making up the hamburger menu icon
.navItem {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);

  //Set delays for the nav items in close transition
  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      $delay: ($i - 1) * $transition-delay;
      transition-delay: 0;
      &:before {
        transition-delay: 0;
      }
    }
  }

  // Adjusting width for first line
  &:nth-child(1) {
    letter-spacing: -8px;
  }

  // Adjusting width for second line
  &:nth-child(2) {
    letter-spacing: -7px;
  }

  // Adjusting the fourth element onwards
  &:nth-child(n + 4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
  }

  //getting lines for the hamburger menu icon
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 1;
    background-color: #ec7263;
    transform: translateY(-50%) scaleY(5);
  }
}
