@import 'scss/colours.scss';
@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';

.container {
  color: $darkBlue;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background: white;

  @include mq($until: tablet) {
    padding: size(4) size(6);
    flex-direction: column;
    height: 100vh;
  }

  @include mq($from: tablet) {
  }

  .item {
    position: relative;

    @include mq($until: tablet) {
      margin-bottom: size(2);
    }

    @include mq($from: tablet) {
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: size(3);
      }
    }
  }
}
