@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

$items: 4;
$transition-duration: $menu-transition-duration / 2;
$icon-size: 20px;

.menu {
  display: flex;
  flex: 1;

  .buttonToggle {
    background-color: transparent;
    border-color: transparent;
    border: none;
    margin-right: auto;
    height: calc(#{$icon-size} + #{size(1)});
    width: calc(#{$icon-size} + #{size(1)});
    padding: size(0.5);
    outline: none;
    cursor: pointer;
    transition: $menu-transition-duration;

    .icon {
      height: $icon-size;
      width: $icon-size;

      path {
        stroke: $blue;
      }
    }

    &:hover {
      background: $grey;
    }
  }

  .nav {
    position: absolute;
    transition: 0s;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    font-family: 'Cabin Sketch', sans-serif;
    height: $menu-height-desktop;

    @include mq($until: tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - #{$wrapper-padding-x-mobile} * 2);
    }

    &.isOpen {
      opacity: 1;
      visibility: visible;
      transition: $transition-duration opacity $transition-duration, 0s padding;
      top: size(9);
      padding: size(3) 0;
    }

    .navItem {
      color: $dark-blue;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      opacity: 1;

      @include mq($until: tablet) {
        &:not(:last-child) {
          margin-bottom: size(3);
        }
      }

      @include mq($from: tablet) {
        &:not(:last-child) {
          margin-right: size(3);
        }
      }

      &.active {
        color: $dark-grey;
      }
    }
  }
}
