@import 'scss/button.scss';
@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

$slot-width: 180px;

.container {
  .title {
    color: $blue;
    margin-bottom: size(2);
  }

  .selectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: size(3);
    width: 100%;

    .step2Container {
      display: flex;
      margin-bottom: size(2);

      :first-child {
        margin-right: size(1);
      }
    }

    .step {
      color: $teal;
      margin-bottom: size(2);
    }

    .calendar {
      width: 100%;

      @include mq($from: tablet) {
        margin-right: size(3);
      }

      h2 {
        font-family: revert;
        color: $teal;
        display: inline;
        font-size: 24px;
      }

      button {
        @extend %btn;

        background: $teal !important;
        border-color: $teal !important;
        color: white !important;
        width: 85px;
      }

      .daySelected {
        outline: $blue 2px auto;
      }

      .dayAvailable {
        background: $green-background;
        cursor: pointer;
      }

      .dayUnavailable {
        background: $light-grey;
        cursor: not-allowed;
      }
    }

    .requestSlot {
      .slots {
        display: flex;
        flex-wrap: wrap;

        .slot {
          border: 1px solid black;
          border-radius: size(3);
          padding-left: size(3);
          padding-right: size(3);
          margin-right: size(3);
          margin-bottom: size(2);
          background: white;
          color: black;
          white-space: nowrap;
          width: $slot-width;

          &:hover {
            background: $light-grey;
          }

          &:focus,
          &:focus-visible {
            outline: none;
            box-shadow: 0 0 3pt 2pt $teal;
            border-color: $teal;
          }
        }
      }
    }
  }

  .note {
    color: $red;
    margin-bottom: size(4);
    white-space: pre-wrap;
  }
}
