@import 'scss/colors.scss';
@import 'scss/spacings.scss';
@import 'scss/breakpoints.scss';

$form-width: 500px;

%formField {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: size(2) size(1);
  margin-bottom: size(2);
  background-color: #5a8be20f;
  border: 1px solid gainsboro;
  border-radius: 5px;
  transition: border-color 1s;

  @include mq($from: tablet) {
    margin-bottom: size(3);
  }
}

.form {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  width: $form-width;
  background: white;

  .fieldContainer {
    position: relative;

    &.hasError {
      input,
      select {
        border-color: $red;

        &:focus,
        &:focus-visible {
          outline: $red 1px auto;
        }
      }

      .fieldError {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .textInput,
  .password,
  .dropdown {
    @extend %formField;
  }

  .submitButton {
    margin: size(2) 0;
  }

  .fieldError {
    position: absolute;
    top: 2px;
    right: 0;
    text-transform: capitalize;
    color: $red;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  }

  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $red-background;
    color: $red-error-with-background;
    min-height: size(6);
    padding: size(1);
    margin-top: size(3);
    opacity: 0;
    transition: opacity 1s;
    text-transform: capitalize;
    text-align: center;

    &.visible {
      opacity: 1;
    }
  }

  label {
    display: block;
    font-size: 18px;
    margin-bottom: size(0.5);
  }
}
