@import '../../scss/colors.scss';
@import '../../scss/spacings.scss';

$form-width: 400px;
$form-height: 530px;

%formField {
  width: 100%;
  font-size: 13px;
  padding: size(1) size(0.5);
  margin-bottom: size(2);
  background-color: #5a8be20f;
  border: 1px solid gainsboro;
  transition: border-color 1s;
}

.form {
  display: flex;
  flex-direction: column;
  width: $form-width;
  height: $form-height;
  background: white;
  padding: size(5) size(4);

  .fieldContainer {
    position: relative;

    &.hasError {
      input {
        border-color: $red;
      }

      .fieldError {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .email {
    @extend %formField;
  }

  .password {
    @extend %formField;
  }

  .submitButton {
    margin: size(2) 0;
  }

  .fieldError {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 12px;
    text-transform: capitalize;
    color: $red;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  }

  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8bcbc94;
    min-height: 32px;
    padding: size(1);
    margin-top: size(3);
    font-size: 13px;
    color: $red;
    opacity: 0;
    transition: opacity 1s;
    text-transform: capitalize;
    text-align: center;

    &.visible {
      opacity: 1;
    }
  }

  label {
    display: block;
    margin-bottom: size(0.5);
  }
}
