@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/constants.scss';
@import 'scss/spacings.scss';

.container {
  background: $blue;
  color: white;
  padding: $wrapper-padding-y-mobile $wrapper-padding-x-mobile;

  @include mq($from: tablet) {
    padding: $wrapper-padding-y-desktop $wrapper-padding-x-desktop;
  }

  .headline {
    color: white;
    font-size: size(6);
    font-family: 'Lilita One', sans-serif;
    text-align: center;
  }

  .subheadline {
    color: $orange;
    font-size: 24px;
    font-family: 'Lilita One', sans-serif;
    text-align: center;
    margin-bottom: size(6);
  }

  .filters {
    display: flex;
    align-items: center;
    padding: size(3) 0;
    margin-bottom: size(6);
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    .filterTitle {
      font-size: 24px;
      font-family: 'Lilita One', sans-serif;
      line-height: size(4);
      margin-right: size(2);
    }

    .filterBtn {
      color: $orange;
      cursor: pointer;
      border-radius: 15px;
      border: 1px solid $blue;
      background: white;
      padding: 0 size(2);
      font-family: 'Lilita One', sans-serif;
      height: size(4);
      margin-right: size(1);
      opacity: 0.5;

      &:hover {
        box-shadow: 0 0 3pt 2pt$orange;
      }

      &:focus {
        box-shadow: 0 0 3pt 2pt $grey;
        outline: none;
      }

      &.selected {
        opacity: 1;

        &:focus {
          box-shadow: 0 0 3pt 2pt$orange;
          outline: none;
        }
      }
    }
  }

  .noResults {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: size(8) 0;
    width: 100%;
  }

  .organizations {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: size(6);
  }
}
