@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/constants.scss';
@import 'scss/spacings.scss';

.chat {
  display: block;
  color: black;
  border-radius: $card-border-radius;
  border: 1px solid $blue;
  background: white;
  width: 100%;
  padding: size(3);
  justify-content: space-between;
  margin-bottom: size(3);
  flex-basis: 100%;

  &.unavailable {
    background: $red-background;

    .title {
      color: $red;
    }
  }

  .title {
    color: $blue;
    margin-bottom: size(1);
  }

  .description {
    color: black;
    margin-bottom: size(2);
  }

  .time {
    margin-bottom: size(2);
  }

  .cancelCta {
    background: $red-background;
    color: $red;
    margin-top: size(2);
  }

  .moreInfo {
    display: block;
  }

  .link {
    color: $blue;
    display: inline-block;
    margin: size(1) 0;
  }
}
