@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';
@import 'scss/colors.scss';
@import 'scss/constants.scss';

.container {
  background: white;
  width: 100%;
  text-align: center;
  padding: size(4);

  .heading {
    font-size: size(5);
    color: $blue;
    text-transform: capitalize;
    margin-bottom: size(1);
  }

  .description {
    color: black;
    margin-bottom: size(4);
  }

  .form {
    width: 100%;

    @include mq($from: tablet) {
      margin: auto;
      width: 470px;
      width: fit-content;
    }
  }

  .emailInput {
    font-size: 16px;
    border: none;
    border-bottom: solid 1px $dark-grey;
    background: white;
    margin-bottom: size(2);
    padding: size(1) size(0.5);
    height: size(5);
    width: 100%;

    &:focus {
      box-shadow: 0 0 3pt 3pt$orange;
      outline: none;
    }

    @include mq($from: tablet) {
      margin-bottom: 0;
      margin-right: size(2);
      width: 300px;
    }
  }

  .formMessage {
    color: black;
    padding: size(1.5);
    margin-top: size(2);
    font-size: 12px;
    background: $green-background;
    opacity: 0;
    transition: opacity 1s;
    text-transform: capitalize;
    text-align: center;
    height: 38px;

    &.error {
      background: $red-background;
    }

    &.visible {
      opacity: 1;
    }
  }

  .submitBtn {
    padding-right: size(5);
    padding-left: size(5);

    @include mq($until: tablet) {
      width: 100%;
    }

    @include mq($from: tablet) {
      display: inline-block;
    }
  }
}
