@import 'scss/colors.scss';
@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: size(4);

  @include mq($from: tablet) {
    align-items: center;
    padding-top: size(7);
  }

  .heading {
    text-transform: capitalize;
    margin-bottom: size(3);
  }

  .description {
    margin-bottom: size(3);
  }
}
