@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: size(2);

  .heading {
    text-transform: capitalize;
    margin-bottom: size(4);
  }

  .description {
    margin-bottom: size(2);
  }

  .cta {
  }
}
