@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.topContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 32px;

  .logOut {
    border: 1px white solid;
    background: white;
    color: $blue;
    text-transform: capitalize;
    width: 100px;
  }
}

.accordion {
  color: white;
  margin-bottom: size(4);
}
