@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.topContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 32px;

  .logOut {
    border: 1px white solid;
    background: white;
    color: $blue;
    text-transform: capitalize;
    width: 100px;
  }
}

.suspended {
  background: $red-background;
  color: $red;
  padding: size(3);
  margin-bottom: size(3);
  white-space: break-spaces;

  .suspendedNote {
    color: $green;
    margin-top: size(1);
  }
}

.accordion {
  color: white;
  margin-bottom: size(4);
}
