@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';

.accordionContent {
  box-sizing: border-box;
  border-bottom: 0px solid currentColor;
  height: 0;
  visibility: hidden;
  text-transform: none;
  opacity: 0;
  transition: 0.8s ease, opacity 0.1s ease;
  padding: 0;

  &.isOpen {
    opacity: 1;
    height: auto;
    visibility: visible;
    padding: size(2) 0;
    transition: 1s ease;

    @include mq($from: tablet) {
      padding: size(3) 0;
    }
  }
}
