@import 'scss/colors.scss';
@import 'scss/constants.scss';
@import 'scss/spacings.scss';

.container {
  max-width: $content-max-width;
  margin: auto;
  margin-bottom: size(8);
  line-height: 2;

  .title {
    margin-bottom: size(2);
  }

  .subtitle {
    color: $blue;
    margin-bottom: size(2);
  }

  .paragraph {
    margin-bottom: size(2);
  }

  .list {
    margin-bottom: size(4);
    padding-inline-start: size(2);

    .listItem {
      display: list-item;
    }
  }

  .paragraph,
  .list,
  .emphasize,
  .sentence {
    line-height: 2;
  }
}
