@import 'scss/button.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.calendar {
  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: size(4);
    width: 100%;

    .title {
      margin-bottom: size(2);
    }

    .delete {
      align-self: flex-end;
      border-radius: 0.25em;
      width: 85px;
      height: size(5);
    }

    .instructions {
      width: 80%;
    }
  }

  h2 {
    font-family: 'LilGrotesk', sans-serif;
    color: $blue;
  }

  td {
    background-color: none !important;
  }

  > div > div > div > table {
    background: white;
    border-radius: 15px 0px 0px;
  }
}
