@import 'scss/button.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.calendar {
  .instructions {
    margin-bottom: size(4);
  }

  h2 {
    font-family: 'LilGrotesk', sans-serif;
    color: $blue;
  }

  button {
    @extend %btn;

    background: $blue !important;
    border-color: $blue !important;
    color: white !important;
    width: 85px;
    height: 32px;
  }

  td {
    background-color: none !important;
  }

  > div > div > div > table {
    background: white;
    border-radius: 15px 0px 0px;
  }
}
