@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.cta {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue;
  padding: size(1.5);
  border: none;
  height: 100%;
  max-height: size(5);
  text-transform: capitalize;

  &.fullWidth {
    width: 100%;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline-color: $orange;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

a.cta {
  margin-top: size(4);
  max-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fullWidth {
    max-width: 100%;
  }
}
