@import 'scss/colours.scss';
@import 'scss/spacings.scss';

.cta {
  color: white;
  cursor: pointer;
  display: block;
  background: $blue;
  padding: size(1.5) size(7);
  border: none;
  height: 100%;
  max-height: size(5);
  text-transform: capitalize;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline-color: orange;
  }
}

a.cta {
  margin-top: size(4);
  max-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
