@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/constants.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  background: $grey;
  height: 100%;
  min-height: 100vh;
  width: 100%;

  h1 {
    color: white;
  }

  .content {
    background: $blue;
    height: calc(100vh - #{$header-height});
    margin-top: 0;
    overflow-y: scroll;
    width: 100%;
    transition: $menu-transition-duration;

    &.withPadding {
      padding: 32px 24px;
    }

    &.menuOpen {
      margin-top: $menu-height-mobile;
      height: calc(100vh - #{$header-height} - #{$menu-height-mobile});

      @include mq($from: tablet) {
        margin-top: calc(#{size(8)} - 3px);
        height: calc(100vh - #{$header-height} - #{$menu-height-desktop});
      }
    }
  }
}
