@import '../../scss/button.scss';
@import '../../scss/colors.scss';

.calendar {
  h2 {
    font-family: 'Lilita One', cursive;
    color: white;
  }

  button {
    @extend %btn;

    background: white !important;
    color: $blue !important;
    width: 85px;
    height: 32px;
  }

  > div > div > div > table {
    background: white;
    border-radius: 15px 0px 0px;
  }
}
