@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colours.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  background: $blue;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  @include mq($from: tablet) {
    max-height: 100vh;
  }

  h1 {
    color: white;
  }

  .how {
    background: $blue;
    color: white;

    @include mq($until: tablet) {
      padding-bottom: size(14);
    }

    h3 {
      color: white;
    }
  }
}
