@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  background: $blue;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  -webkit-overflow-scrolling: touch;

  @include mq($from: desktop) {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
  }

  h1 {
    color: white;
  }

  .about,
  .how {
    @include mq($from: tabletWide) {
      min-height: calc(100vh - #{$header-height});
      padding-bottom: size(6);
    }
  }

  .about {
    font-size: 20px;
    background: $blue;
    color: white;

    h3 {
      color: white;
    }

    .volunteerBtn {
      background: white;
      color: $blue;
      margin-top: size(4);

      @include mq($until: tablet) {
        align-self: center;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .newsletter {
    background: $egg-shell;
  }

  .how {
    font-size: 20px;

    @include mq($from: tablet) {
      padding-bottom: 0px;
      min-height: unset;

      .contact {
        padding: size(4) 0;
      }
    }

    h1,
    h3 {
      color: $blue;
    }
  }
}
