@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';
@import 'scss/wrapper.scss';

.backdrop {
  @include gutter;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.3);
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .close {
    position: absolute;
    cursor: pointer;
    top: size(2);
    right: size(2);
    width: size(5);
    height: size(5);

    @include mq($from: tablet) {
      top: size(4);
      right: size(4);
    }
  }

  > div {
    transform: translateY(100px);
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }

  &.active {
    transition-duration: 250ms;
    transition-delay: 0ms;
    opacity: 1;

    > div {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 150ms;
      transition-duration: 350ms;
    }
  }
}
