@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/constants.scss';
@import 'scss/spacings.scss';
@import 'scss/loading.scss';

.session {
  color: black;
  border-radius: $card-border-radius;
  border: 1px solid $blue;
  background: white;
  width: 100%;
  padding: size(3);
  justify-content: space-between;
  margin-bottom: size(3);

  @include mq($from: tablet, $until: tabletWide) {
    width: calc(50% - (1 / 2 * #{size(4)}));

    &:not(:nth-child(2n)) {
      margin-right: size(3);
    }
  }

  @include mq($from: tabletWide) {
    width: calc(33.33333% - (1 / 3 * #{size(6)}));

    &:not(:nth-child(3n)) {
      margin-right: size(3);
    }
  }

  &.unavailable {
    background: $red-background;

    .title {
      color: $red;
    }
  }

  .title {
    color: $blue;
    margin-bottom: size(1);
  }

  .description {
    color: black;
    margin-bottom: size(2);
  }

  .time {
    margin-bottom: size(2);
  }

  .confirmCta {
  }

  .cancelCta {
    background: $red-background;
    color: $red;
    margin-top: size(2);
  }

  .moreInfo {
    display: block;
  }

  .link {
    color: $blue;
    display: inline-block;
    margin: size(1) 0;
  }
}

.modal {
  border-radius: $card-border-radius;
  background: white;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: size(4);

  .heading {
    font-family: 'LilGrotesk', sans-serif;
    color: $orange;
    margin-bottom: size(3);
  }

  .disclaimer {
    line-height: 1.5;
    margin-bottom: size(3);
    white-space: break-spaces;
  }
}
