@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: size(3) 0 size(10);

  .title {
    margin-bottom: size(4);
    text-align: center;
  }

  .cta {
    margin-bottom: size(3);
  }

  .link {
    margin-left: size(0.5);
  }

  @include mq($from: tablet) {
    justify-content: center;
    padding: size(3) 0;
  }
}
