@import 'scss/constants.scss';
@import 'scss/colors.scss';
@import 'scss/spacings';

.wrapper {
  margin-bottom: $wrapper-padding-y-desktop-large;

  .title {
    margin-bottom: size(4);
    text-align: center;
  }

  .content {
    max-width: $content-max-width;
    margin: auto;

    .text {
      background: $light-grey;
      padding: size(3);
      margin-bottom: size(3);
      text-align: center;
    }
  }
}
