@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colours.scss';
@import 'scss/spacings.scss';
@import 'scss/wrapper.scss';

$logo-width: 152px;

.headerWrapper {
  display: flex;
  border-bottom: 1px solid $grey;
  position: sticky;
  padding: size(2) size(3);
  top: 0;
  background-color: white;
  height: $header-height;
  z-index: 10;
  transition: margin-bottom $menu-transition-duration;
  width: 100%;

  &.menuIsOpen {
    margin-bottom: $menu-height-mobile;

    @include mq($from: tablet) {
      margin-bottom: size(11);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: calc((100% - #{$logo-width}) / 2);

  .logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: $logo-width;

    .title {
      color: $blue;
      font-family: 'Cabin Sketch', cursive;
      font-size: 18px;
      margin-left: size(1);
    }
  }

  .desktopMenu {
    display: none;

    @include mq($from: tablet) {
      display: flex;
    }
  }

  .options {
    display: flex;
  }

  svg {
    height: 40px;
    width: 40px;
  }
}
