@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colours.scss';
@import 'scss/spacings.scss';

$logo-width: 152px;

.headerWrapper {
  display: flex;
  border-bottom: 1px solid $grey;
  position: sticky;
  padding: size(2);
  top: 0;
  background-color: white;
  height: $header-height;
  z-index: 10;
  transition: margin-bottom $menu-transition-duration;
  width: 100%;

  @include mq($from: tablet) {
    padding: size(2) size(3);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: #{size(4)};

  @include mq($from: tablet) {
    margin-left: calc((100% - (#{$logo-width} / 2)) / 2);
  }

  .logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;

    @include mq($from: tablet) {
      width: $logo-width;
    }

    .logo {
      @include mq($until: tablet) {
        display: none;
      }
    }

    .title {
      color: $blue;
      font-family: 'Cabin Sketch', cursive;
      font-size: 18px;
      margin-left: size(1);
    }
  }

  .options {
    display: flex;
  }

  svg {
    height: 40px;
    width: 40px;
  }
}
