@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

$logo-width: 127px;

.headerWrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey;
  position: sticky;
  padding: size(2);
  top: 0;
  background-color: white;
  height: $header-height;
  z-index: 10;
  width: 100%;

  @include mq($from: tablet) {
    padding: size(2) size(3);
  }

  .title {
    color: $blue;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-decoration: none;
  }

  .options {
    display: flex;
    flex: 1;
  }

  svg {
    height: 40px;
    width: 40px;
  }
}
