@import 'scss/form.scss';
@import 'scss/spacings.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-bottom: size(4);

  @include mq($from: tablet) {
    padding-top: size(2);
  }

  .title,
  .description {
    margin-bottom: size(3);
    width: 100%;
    max-width: $form-width;
  }
}
