@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.contactUs {
  font-family: 'Lilita One', sans-serif;
  font-size: size(5);
  padding: size(8) 0;
  color: $orange;
  text-align: center;
  width: 100%;

  a {
    color: white;
    text-decoration: underline;
  }
}
