@import '../../../../scss/colours.scss';
@import '../../../../scss/spacings.scss';

.accountContainer {
  align-items: center;
  display: flex;
  font-size: 14px;

  a {
    &:first-child {
      margin-right: size(2);
    }
  }
}
