@import 'scss/breakpoints.scss';
@import 'scss/colours.scss';
@import 'scss/spacings.scss';

$account-icon-size: 21px;

%desktopOnly {
  display: none;

  @include mq($from: tablet) {
    display: inline-block;
  }
}

.accountContainer {
  align-items: center;
  color: $blue;
  display: flex;
  font-size: 14px;

  .login,
  .signUpText,
  .email {
    @extend %desktopOnly;
  }

  .accountIcon {
    display: inline-block;
    width: $account-icon-size;
    height: $account-icon-size;

    @include mq($from: tablet) {
      display: none;
    }
  }

  @include mq($from: tablet) {
    height: $account-icon-size;
  }

  @include mq($from: tablet) {
    a {
      &:first-child {
        margin-right: size(2);
      }
    }
  }
}
