@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

$icon-size: 20px;

.footer {
  background: white;
  color: $blue;
  border-top: 1px solid $dark-grey;
  width: 100%;

  .content {
    padding: size(8) size(3) size(4);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: size(3);
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;

    .socials {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-bottom: size(0.5);

      .socialLink {
        height: $icon-size;
        width: $icon-size;
        fill: $blue;

        &:not(:last-child) {
          margin-right: size(1.5);
        }
      }
    }
  }
}
