@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.footer {
  background: white;
  color: $blue;
  padding: size(8) size(3) size(3);
  border-top: 1px solid $dark-grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: size(3);
  width: 100%;

  .socials {
    display: flex;
    justify-content: flex-end;
  }
}
