@import 'scss/accessibility.scss';
@import 'scss/breakpoints.scss';
@import 'scss/constants.scss';
@import 'scss/colors.scss';
@import 'scss/focus.scss';
@import 'scss/spacings.scss';
@import 'scss/wrapper.scss';

$icon-size: 20px;

.footer {
  background: white;
  color: $blue;
  border-top: 1px solid $dark-grey;
  width: 100%;

  .content {
    @include gutter;

    padding-top: size(8);
    padding-bottom: size(13);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: size(3);
    width: 100%;

    @include mq($from: tablet) {
      padding-bottom: size(4);
    }

    .legal {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      > button.cookies {
        background: white;
        border: none !important;
        font-family: 'Poppins';
        font-size: 16px !important;
        color: $blue !important;
        padding: 0px !important;

        &:focus-visible {
          @include focus($orange);
        }
        &:hover {
          background: white !important;
        }
      }
    }

    .socials {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-bottom: size(0.5);
      position: relative;

      .socialLink {
        height: $icon-size;
        width: $icon-size;
        fill: $blue;

        &:not(:last-child) {
          margin-right: size(1.5);
        }
      }

      .socialLabel {
        @include visibleHidden;
      }
    }
  }
}
