@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/constants.scss';
@import 'scss/spacings.scss';

.consentLayer {
  backdrop-filter: blur(3px);
  padding: size(2);

  @include mq($from: tablet) {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .container {
    background: $egg-shell;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: size(4);

    @include mq($from: tablet) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: size(4);
      margin-bottom: size(3);
      margin-right: size(3);
      max-width: $content-max-width;
    }

    .text {
      @include mq($until: tablet) {
        margin-bottom: size(4);
      }

      .heading {
        margin-bottom: size(2);
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;

      @include mq($from: tablet) {
        width: auto;
      }

      .confirmCta {
        margin-bottom: size(3);

        @include mq($from: tablet) {
          margin-bottom: size(2);
        }
      }
    }
  }
}
