@import 'scss/breakpoints.scss';
@import 'scss/button.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.calendar {
  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: size(4);
    width: 100%;

    .title {
      margin-bottom: size(2);
    }

    .delete {
      @extend %btn;

      display: none;
      align-self: flex-end;
      border-radius: 0.25em;

      @include mq($from: tablet) {
        display: block;
      }
    }

    .instructions {
      width: 80%;
    }
  }

  h2 {
    font-family: 'LilGrotesk', sans-serif;
    color: $blue;
  }
}
