$btn-height: 32px;
$btn-width: 85px;

%btn {
  cursor: pointer;
  font-size: 16px;
  width: $btn-width;
  height: $btn-height;
  border-radius: 5px;
  padding: 0px !important;

  &:disabled {
    cursor: not-allowed;
  }
}
