//NOTE keep aligned with constants/colors
// $blue: #5b8be2;
$blue: #4a75c5;
$blue-hover: rgba(91, 139, 226, 0.8);
$dark-blue: #1c4797;
$egg-shell: #f2ede0;
$green: #0d5f07;
$green-background: #d2fbd0;
$light-grey: #f2f2f2;
$grey: #ebedf0;
$dark-grey: #6c6f74;
$orange: #ffa500;
$dark-orange: #ec7263;
$red-background: #fbd0da;
$red: #5f071c;
$sky: #ccd6e8;
$teal: #3abdaf;
