$blue: #5b8be2;
$blue-hover: rgba(91, 139, 226, 0.8);
$dark-blue: #15217d;
$green: #59ca45;
$green-background: #75d165;
$light-grey: #f2f2f2;
$grey: #ebedf0;
$dark-grey: #6c6f74;
$red-background: #e8bcbc94;
