@import 'scss/constants.scss';
@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';

@mixin wrapper {
  padding: $wrapper-padding-y-mobile $wrapper-padding-x-mobile;
  width: 100%;

  @include mq($from: tablet) {
    padding: size(5) size(4);
  }
}
