@import 'scss/colors.scss';
@import 'scss/constants.scss';
@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';
@import 'scss/wrapper.scss';

.wrapper {
  background-color: white;
  padding: 1px;

  @include mq($from: tabletWide) {
    min-height: calc(100vh - #{$header-height});
    padding-bottom: size(6);
  }

  .container {
    @include wrapper;

    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 970px;
    padding-bottom: size(14);

    @include mq($from: tabletWide) {
      padding-bottom: size(6);
    }
  }

  .title {
    font-family: 'Bowlby One', cursive;
    font-family: 'Lilita One', cursive;
    color: $blue;
    font-size: 40px;
    margin-bottom: size(2);
  }

  .content {
    line-height: 1.6;
    white-space: pre-line;

    @include mq($from: tablet) {
      line-height: 1.3;
      text-align: justify;
    }
  }
}
