@import 'scss/colors.scss';
@import 'scss/form.scss';
@import 'scss/spacings.scss';

.form {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  width: $form-width;
  background: white;

  .fieldContainer {
    position: relative;

    &.hasError {
      input,
      select {
        border-color: $red;

        &:focus,
        &:focus-visible {
          outline: $red 1px auto;
        }
      }

      .fieldError {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .textInput,
  .password,
  .dropdown {
    @extend %formField;
  }

  .submitButton {
    margin: size(2) 0;
  }

  .fieldError {
    position: absolute;
    top: 2px;
    right: 0;
    text-transform: capitalize;
    color: $red;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  }

  .error,
  .success {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: size(6);
    padding: size(1);

    opacity: 0;
    transition: opacity 1s;
    text-transform: capitalize;
    text-align: center;

    &.visible {
      opacity: 1;
    }
  }

  .error {
    background: $red-background;
    color: $red-error-with-background;
  }

  .success {
    background: $green-background;
    color: black;
  }

  .changeLocation {
    margin-bottom: size(1);
  }

  .forgotPassword {
    margin-bottom: size(3);
    width: max-content;
  }

  label {
    display: block;
    font-size: 1.125rem;
    margin-bottom: size(0.5);
  }
}
