@import 'scss/breakpoints.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.contactUs {
  padding: size(12) 0;
  color: $orange;
  text-align: center;
  width: 100%;

  @include mq($from: tablet) {
    padding: size(15) 0;
  }

  a {
    color: white;
    border-bottom: 4px solid currentColor;
  }

  .email {
    @include mq($until: desktop) {
      display: block;
      margin-top: size(4);
    }
  }
}
