@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';

.accordionHeader {
  cursor: pointer;
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: size(1) 0;
  background: none;
  border: none;
  width: 100%;
  text-transform: capitalize;

  @include mq($from: tablet) {
    .arrow {
      width: size(2);
      height: size(2);
    }
  }

  &.isOpen {
    .arrow {
      transform: rotate(-180deg);
    }
  }

  &:focus {
    outline: none;
  }

  .arrow {
    width: size(3);
    height: size(3);
    transition: transform 0.5s ease;
  }
}
