@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';

.accordionHeader {
  cursor: pointer;
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: size(2) 0;
  background: none;
  border: none;
  width: 100%;
  text-transform: capitalize;
  text-align: left;

  &.isOpen {
    .arrow {
      transform: rotate(-180deg);
    }
  }

  &:focus {
    outline: none;
  }

  .arrow {
    width: size(3);
    height: size(3);
    transition: transform 0.5s ease;
    align-self: flex-end;
    flex-shrink: 0;
  }
}
