@import 'scss/breakpoints.scss';
@import 'scss/button.scss';
@import 'scss/colors.scss';
@import 'scss/spacings.scss';

.calendar {
  .toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mq($from: tablet) {
      margin-bottom: size(4);
    }

    .title {
      margin-bottom: size(2);
    }

    .delete {
      @extend %btn;

      display: none;
      align-self: flex-end;
      border-radius: 0.25em;
      padding: 0 size(1) !important;

      @include mq($from: tabletWide) {
        display: block;
      }
    }

    .instructions {
      width: 80%;
    }
  }
}
