@import 'scss/breakpoints.scss';
@import 'scss/spacings.scss';
@import 'scss/constants.scss';

.wrapper {
  margin-bottom: $wrapper-padding-y-desktop-large;
}

.requestSection {
  display: flex;
  flex-direction: column;
  margin-bottom: size(6);

  &.past {
    margin-bottom: size(5);
  }

  @include mq($from: tablet) {
    flex-direction: row;
    align-items: center;
    margin-bottom: size(6);
  }

  .requestCta {
    flex-shrink: 0;
  }

  .separator {
    margin: size(2) 0 size(1);

    @include mq($from: tablet) {
      margin: 0 size(4);
      align-items: center;
    }
  }

  .rebookInfo {
    max-width: 400px;
  }
}
